.wrapper {
  width: 100%;
  height: 4.5rem;
  background: var(--gray-500);
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.75rem;
  overflow: auto;
}

.wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/*CHECKBOX demarcado */
.checkBox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--blue-400);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

/* DIV QUE ENVOLVE O INPUT COM O LABEL*/
.check {
  position: relative;
}

.check label {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}

.IconCheck {
  cursor: pointer;
}

/* Checkbox marcado */
.checkBox:checked {
  background-color: var(--purple-400);
  border-color: var(--purple-400);
  opacity: 0.8;
}

/*
alterar a cor do texto e sublinhar corrigir
 .checkBox:checked {
  text-decoration: line-through;
  color: var(--gray-300);
}
}
*/
/*aparecer o ícone com true*/
.checkBox:checked+label .IconCheck {
  display: inline;
}

/*botão de delete*/
.wrapper button {
  margin-left: auto;
  background-color: transparent;
  border: 0;
}

.wrapper p {
  font-size: 14px;
  color: var(--white);
  text-align: justify;
}

.Icon {
  color: var(--gray-300)
}

.wrapper+.wrapper {
  margin-top: 0.75rem;
}